{% extends 'base.html.twig' %}
{% block body %}
    <h2>Add new user</h2>
    {% include '_form.html.twig' %}
    <a href="{{path('gui__admin_article_list')}}">Go back to all articles</a>
{% endblock %}
