{% extends 'admin/main.html.twig' %}
{% block panel_class %}categories{% endblock %}
{% block panel %}
    <h1 class="categories__heading">Kategorie</h1>
    <div class="categories__container">
        <section class="category">
            <div class="category__header">
                <h2 class="category__heading">Wszystkie kategorie</h2>
            </div>
            {% if categories %}
                <ul class="category__list">
                    {% for category in categories %}
                        <li class="category__element">
                            <span class="category__name">{{category.name}}</span>
                            <div class="category__details">
                                <a class="category__link" href="">Pokaż artykuły</a>
                                <a class="category__link" href="">Edytuj</a>
                                <a class="category__link" href="">Usuń</a>
                                <span class="category__amount" title="Ilość artykułów w tej kategorii">
                                    {{category.articles|length}}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="category__no-categories">
                    <span class="category__no-categories-text">
                        Nie masz jeszcze żadnej kategorii, zacznij od dodania jej przyciskiem poniżej.
                    </span>
                </div>
            {% endif %}
            <hr class="category__limiter">
            <a class="category__footing" href="">Dodaj nową kategorię</a>
        </section>
    </div>
{% endblock %}