{% extends 'admin/main.html.twig' %}
{% block panel %}
    <h1 class="panel__page-title">Użytkownicy</h1>
    <div class="scene scene--card">
        <div class="user-card">
            <section class="user-card__face user-card__face--front">
                <img src="{{asset('img/uploads/profile-pics/profilepic-test0@domain.net.jpeg')}}" alt=""
                     class="user-card__image">
                <h2 class="user-card__data">Name Surname</h2>
                <small class="user-card__undertitle">Imie i nazwisko</small>
                <span class="user-card__data user-card__data--smaller">Administrator</span>
                <small class="user-card__undertitle">Funkcja na stronie</small>
                <a href="mailto:dupa@abs.pl"
                   class="user-card__data user-card__data--smaller">kontakt@archi-tektur.pl</a>
                <small class="user-card__undertitle">Adres e-mail</small>
                <span class="user-card__data user-card__data--smaller">11. październik 2018</span>
                <small class="user-card__undertitle">Data dołączenia</small>
                <hr class="user-card__limiter">
                <a href="" class="user-card__link">Artykuły użytkownika</a>
                <button id="copyAPIKey" class="user-card__link">Kopiuj klucz API</button>
                <button class="user-card__reverse-button"><span class="fas fa-redo"></span></button>
            </section>
            <section class="user-card__face user-card__face--back">
                <img src="{{asset('img/uploads/profile-pics/profilepic-test0@domain.net.jpeg')}}" alt=""
                     class="user-card__image">
                <h2 class="user-card__data">Name Surname</h2>
                <small class="user-card__undertitle">Imie i nazwisko</small>
                <div class="user-card__reverse-icons-grid">
                    <div class="user-card__reverse-icons">
                        <span class="user-card__reverse-icon fas fa-trash"></span>
                        <span class="user-card__reverse-text">Usuń</span>
                    </div>
                    <div class="user-card__reverse-icons">
                        <span class="user-card__reverse-icon fas fa-pen"></span>
                        <span class="user-card__reverse-text">Edytuj</span>
                    </div>
                    <div class="user-card__reverse-icons">
                        <span class="user-card__reverse-icon fas fa-lock"></span>
                        <span class="user-card__reverse-text">Zablokuj</span>
                    </div>
                    <div class="user-card__reverse-icons">
                        <span class="user-card__reverse-icon fas fa-redo"></span>
                        <span class="user-card__reverse-text">Regeneruj API</span>
                    </div>
                </div>
                <button class="user-card__reverse-button user-card__reverse-button--back">
                    <span class="fas fa-undo fa-fw"></span>
                </button>
            </section>
        </div>
    </div>


    <script>

    </script>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {{encore_entry_script_tags('users')}}
{% endblock %}