{% extends 'base.html.twig' %}
{% block body %}
    {% include '_nav.html.twig' %}
    <h2>Edit current user</h2>
    {% include '_form.html.twig' with {buttonText: 'Edit!'} %}
    <a href="{{path('gui__admin_account_list')}}">Go back to all users</a>
{% endblock %}
