{% extends 'base.html.twig' %}
{% block body %}
    <div class="summon-screen">
        <div class="summon-screen__box">
            <img src="{{asset('img/interface/archi_tektur-logo-wide.svg')}}" alt="">
        </div>
        <div class="summon-screen__box">
            cośtam
        </div>
        <div class="summon-screen__box"></div>
    </div>
{% endblock %}
