{% extends 'base.html.twig' %}
{% block body %}
    <div class="summon-screen">
        <div class="summon-screen__box">
            {% block confirmation_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
