<nav class="nav nav--wide">
    <img class="nav__logo" src="{{asset('img/interface/archi_tektur-logo.svg')}}" alt="archi_tektur logo">
    <ul class="nav__links">
        <li class="nav__link">
            <a class="nav__a" href="">
                <i class="nav__link-icon fas fa-plus fa-fw"></i>
                Dodaj artykuł
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-grip-horizontal fa-fw"></span>
                Wszystkie artykuły
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-boxes fa-fw"></span>
                Kategorie
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-user fa-fw"></span>
                Użytkownicy
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-comments fa-fw"></span>
                Komentarze
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-cogs fa-fw"></span>
                Ustawienia
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fab fa-envira fa-fw"></span>
                Środowisko
            </a>
        </li>
    </ul>
</nav>