{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel">
        {% include 'admin/elements/_nav.html.twig' %}
        <div class="panel__workspace">
            {% include 'admin/elements/_status-nav.twig' %}
            <main class="panel__wrapper {% block panel_class %}{% endblock %}">
                {% block panel %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('scripts/panel.js')}}"></script>
{% endblock %}