{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel__container">
        {% include 'admin/_nav.html.twig' %}
        <div class="panel__right">
            <nav class="status-nav">
                <ul class="status-nav__links">
                    <li class="status-nav__link">{{app.user}}</li>
                    <li class="status-nav__link">
                        <a class="status-nav__a" href="{{path('gui__app-logout')}}">
                            Wyloguj
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}