{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel__container">
        {% include 'admin/elements/_nav.html.twig' %}
        <div class="panel__right">
            {% include 'admin/elements/_status-nav.twig' %}
            <main class="panel__main {% block panel_class %}{% endblock %}">
                {% block panel %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}