.box
  background: #F0F0F0
  width: 400px
  height: auto
  @include shadow(1)
  margin: 15px
  max-width: calc(100% - 200px)
  min-height: 100px

  &__title
    padding: 5px
    text-align: center
    display: block
    margin: 0 auto 5px
    font-weight: normal
    font-size: 2em
    color: #292929
    @include shadow(1)