.scene
  width: 220px
  height: 395px
  margin: 10px
  perspective: 600px

  &--add-new
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: #ff2800
    cursor: pointer
    text-decoration: none
    @include shadow(1)
    @include transition(0.1s)

    &:hover, &:focus
      background: darken(#FF2800, 10)

  &__new-user-icon
    font-size: 4em
    margin: 10px
    color: #FFFFFF

  &__new-user-text
    margin: 10px
    font-size: 1.75em
    color: #FFFFFF

.cont
  display: flex
  flex-direction: row
  flex-wrap: wrap

.user-card
  width: 100%
  height: 100%
  transition: transform 0.3s ease-in-out
  transform-style: preserve-3d
  position: relative
  @include shadow(1)
  -webkit-font-smoothing: subpixel-antialiased

  &.user-card--flipped
    transform: rotateY(180deg)
    @include shadow(3)

  &__face
    position: absolute
    width: 100%
    height: 100%
    text-align: center
    backface-visibility: hidden
    -webkit-font-smoothing: subpixel-antialiased

    &--front
      background: #f0f0f0

    &--back
      background: #f0f0f0
      transform: rotateY(180deg)

  &__image
    height: 120px
    width: 120px
    max-width: 180px
    object-fit: cover
    clip-path: circle(50% at 50% 50%)
    margin: 10px auto
    display: block
    @include shadow(1)

  &__data
    display: block
    margin: 0 auto
    font-size: 32px
    color: #444444
    text-decoration: none

    &--smaller
      font-size: 20px

    &--clickable
      &:hover, &:focus
        color: #FF2800
        @include transition(0.1s)

  &__undertitle
    display: block
    margin: -2px auto 5px
    font-weight: lighter
    text-transform: uppercase
    color: #FF2800
    font-size: 16px

  &__limiter
    margin: 5px auto
    width: 75%

  &__bottom-link
    color: #FF2800
    text-decoration: none
    display: block
    font-size: 18px
    background: transparent
    border: none
    margin: 0 auto
    padding: 3px
    cursor: pointer

    &:hover, &:focus
      color: darken(#FF2800, 20)
      @include transition(0.1s)

  &__reverse-button
    position: absolute
    top: 10px
    right: 10px
    color: #FF2800
    background: none
    text-decoration: none
    border: none
    transition: transform 0.2s
    user-select: none
    outline: 0

    &:hover, &:focus
      transform: rotate(180deg)

    &--back:hover, &--back:focus
      transform: rotate(-180deg)

  &__reverse-icons-grid
    width: 100%
    height: 197px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center
    justify-items: center
    align-content: center

  &__reverse-icons
    width: 50%
    height: 50%
    text-decoration: none

    &[disabled='disabled']
      background: #CCC
      cursor: not-allowed

      &:hover, &:focus
        background: #CCC


      &:hover .user-card__reverse-icon, &:focus .user-card__reverse-icon
        color: #444

    &:hover, &:focus
      background: #E0E0E0

    &:hover .user-card__reverse-icon, &:focus .user-card__reverse-icon
      color: #FF2800
      @include transition(0.1s)

  &__reverse-icon
    display: block
    margin: 20px auto 10px
    font-size: 2em
    color: #444444

  &__reverse-text
    color: #ff2800
    font-weight: lighter