.nav
  width: 300px
  @include shadow(1)
  height: 100%
  background: #F0F0F0
  z-index: 20

  &__logo
    width: auto
    height: 200px
    display: block
    margin: 0 auto
    padding-top: 20px

  &__links
    width: 100%
    margin: 20px 0

  &__link
    font-size: 1.5em
    color: #444
    @include transition(0.05s)

    &:hover
      background: darken(#f0f0f0, 5)

  &__a
    color: inherit
    text-decoration: none
    display: block
    padding: 5px 20px
    @include transition(0.2s)

    &:hover .nav__link-icon
      fill: currentColor
      color: darken(#ff2800, 5)

  &__link-icon
    transform: scale(0.8)
    margin-right: 10px

