<nav class="nav nav--wide">
    <img class="nav__logo" src="{{asset('img/interface/archi_tektur-logo.svg')}}" alt="archi_tektur logo">
    <ul class="nav__links">
        <li class="nav__link">
            <a class="nav__a" href="{{path('gui__admin_summary')}}">
                <span class="nav__link-icon fas fa-chart-pie fa-fw"></span>
                {% trans from 'admin-general' %}nav.summary{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-plus fa-fw"></span>
                {% trans from 'admin-general' %}nav.add-article{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-grip-horizontal fa-fw"></span>
                {% trans from 'admin-general' %}nav.all-articles{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="{{path('gui__categories_index')}}">
                <span class="nav__link-icon fas fa-boxes fa-fw"></span>
                {% trans from 'admin-general' %}nav.categories{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-user fa-fw"></span>
                {% trans from 'admin-general' %}nav.users{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-comments fa-fw"></span>
                {% trans from 'admin-general' %}nav.comments{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="https://www.analytics.google.com">
                <span class="nav__link-icon fab fa-google fa-fw"></span>
                {% trans from 'admin-general' %}nav.google-analytics{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fas fa-cogs fa-fw"></span>
                {% trans from 'admin-general' %}nav.settings{% endtrans %}
            </a>
        </li>
        <li class="nav__link">
            <a class="nav__a" href="">
                <span class="nav__link-icon fab fa-envira fa-fw"></span>
                {% trans from 'admin-general' %}nav.environment{% endtrans %}
            </a>
        </li>
    </ul>
</nav>