<div>
    <a href="{{path('gui__admin_article_list')}}">Articles</a>
    <a href="{{path('gui__admin_category_list')}}">Categories</a>
    <a href="{{path('gui__admin_account_list')}}">Accounts</a>
</div>
