<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
        {{encore_entry_link_tags('app')}}
    {% endblock %}
    {% block graphQL %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{encore_entry_script_tags('app')}}
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
            integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>