.login
  width: 300px
  height: auto
  margin: 5px
  background: #FFFFFF
  border-radius: 5px
  @include shadow(2)

  &--incorrect-data
    font-family: "PT Sans Narrow", sans-serif
    background: #ff2800
    color: #FFFFFF
    padding: 10px
    font-size: 1.1em
    text-align: center

  &--linkbox
    position: relative

  &__link
    font-family: "PT Sans Narrow", sans-serif
    font-size: 1.1em
    color: #FF2800
    text-decoration: none
    text-align: center
    padding: 10px
    display: block

    &:hover
      color: darken(#FF2800, 15x)

    &:focus
      outline: none
      color: darken(#FF2800, 15x)

  &__container
    background: #F0F0F0
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__logo
    display: block
    margin: 1em auto 0
    height: 200px
    width: auto

  &__box-icon
    position: absolute
    left: 20px
    top: 12px
    color: #ff2800

  &__heading
    margin: 0 auto
    font-weight: normal
    text-align: center
    color: #FF2800
    font-size: 2.5em

  &__label
    display: block
    text-align: center
    margin: 0.5em auto 0.2em
    color: #444
    font-weight: lighter

  &__input
    background: #F0F0F0
    position: relative
    width: 90%
    max-width: 300px
    margin: 0 auto
    display: block
    border: none
    color: #444
    text-align: center
    padding: 9px 5px
    font-size: 1.1em
    font-family: 'PT Sans Narrow', sans-serif
    border-radius: 3px
    @include shadow(1)
    @include transition(0.2s)

    &:focus
      outline: none
      @include shadow(2)

    &--submit
      background: #FF2800
      color: #FFFFFF
      width: 100%
      font-size: 1.2em
      border-radius: 0 0 5px 5px
      @include shadow(0)
      cursor: pointer

      &:hover, &:focus
        @include shadow(0)
        background: darken(#FF2800, 5)

  &__input-icon
    position: absolute
    right: 20px
    top: 11px
    color: #FFFFFF

  &__checkbox
    display: block
    color: #444
    font-size: 1.1em