{% extends 'base.html.twig' %}
{% block body %}
    {% if article.showreelImage %}
        <img style="width: 100px; height: auto;"
             src="{{asset('/img/uploads/articles-showreel/' ~ article.showreelImage.filename)}}"
             alt="imgsth"/>
        <span>This is article header image.</span>
    {% else %}
        <span>Article showreel were not added.</span>
    {% endif %}
    <h1>{{article.title}}</h1>
    <article>{{article.content|raw|nl2br}}</article>
{% endblock %}