{% extends 'base.html.twig' %}

{% block body %}
    <header class="showreel">
        <img class="showreel__image"
             src="{{asset( 'img/uploads/articles-showreel/' ~ article.showreelImage.filename)}}" alt="">
        <div class="showreel__text-container">
            <span class="showreel__title">{{article.title}}</span>
            <span class="showreel__details">
            <span class="showreel__create-time">{{article.createdAt.format("d M Y")}}</span>
        </span>
        </div>
    </header>

    <article class="article">
        {{article.content|raw|nl2br}}
    </article>
{% endblock %}