{% extends 'base.html.twig' %}
{% block body %}
    {% include '_nav.html.twig' %}
    <h2>Edit new article</h2>
    {% include '_form.html.twig' with {buttonText:'Edit!'} %}
    <a href="{{path('gui__admin_article_list')}}">Go back to all articles</a>
{% endblock %}
